<div class="home-container">
  <div class="header-container">
    <h1>Global Money Deposit</h1>
    <div class="personal-info-container">
      <div class="h4">{{ this.name$ }}<br /><br />{{ this.role$ }}</div>
    </div>
    <button #logoutBTN class="money-button" (click)="logout()">Logout</button>
  </div>

  <div class="actions-container">
    <button
      #accounts
      class="action-button"
      [routerLink]="['accounts']"
      [routerLinkActive]="'active'"
      (click)="click1()"
    >
      Accounts
    </button>
    <button
      #atm
      class="action-button"
      [routerLink]="'atm'"
      [routerLinkActive]="'active'"
      (click)="click2()"
    >
      ATM
    </button>
    <button
      #transfer
      class="action-button"
      [routerLink]="'transfer'"
      [routerLinkActive]="'active'"
      (click)="click3()"
    >
      Transfer
    </button>
    <button
      #history
      class="action-button"
      [routerLink]="'history'"
      [routerLinkActive]="'active'"
      (click)="click4()"
    >
      History
    </button>
    <button
      #admin
      class="action-button"
      [routerLink]="'admin'"
      [disabled]="this.role$ != 'ADMIN'"
      [class.disactive]="this.role$ != 'ADMIN'"
      [routerLinkActive]="'active'"
      (click)="click5()"
    >
      Admin
    </button>
  </div>

  <div class="window">
    <router-outlet></router-outlet>
  </div>
</div>
