/* You can add global styles to this file, and also import other style files */

html {
  font-family: "Press Start 2P", cursive;
}

h1 {
  font-size: 2.3rem;
  font-family: "Playfair Display SC", serif;
  font-weight: 800;
}
h4 {
  font-size: 1rem;
  font-family: "Press Start 2P", cursive;
}
.h4 {
  font-size: 1rem;
  font-family: "Press Start 2P", cursive;
}
.in-flex {
  text-align: center;
}

.standard-input {
  height: 2.3rem;
  font-size: 2rem;
  font-weight: 400;
  color: rgb(68, 68, 68);
  outline: none;
  border: 1px solid black;
  transition: 0.3s;

  box-shadow: 10px 10px 2px grey;
}
.standard-input:focus {
  outline: none;
  border: 0.01rem solid rgb(155, 119, 0);
  transform: translate(10px, 10px);
  box-shadow: none;
}

.money-button {
  width: 5rem;
  height: 5rem;
  padding: 0;

  border-radius: 10rem;

  color: whitesmoke;
  font-size: 0.7rem;

  background-color: rgb(0, 0, 0);
  border: none;

  font-family: "Press Start 2P", cursive;
  box-shadow: 15px 15px 3px grey;

  transition: 0.3s;
}
.money-button:hover {
  background-color: rgb(216, 166, 0);
  transform: translate(2px, 2px);
  box-shadow: 13px 13px 3px grey;
}
.money-button:hover.clicked {
  transform: translate(14px, 14px);
  box-shadow: 1px 1px 3px gray;
}
.money-button.success {
  background-color: rgb(12, 141, 0);
}
.money-button.error {
  background-color: rgb(141, 0, 35);
}

.action-button {
  width: 10rem;
  height: 3rem;

  border-radius: 0.2rem;

  font-size: 0.7rem;
  font-family: "Press Start 2P", cursive;
  box-shadow: 10px 10px 2px grey;
  transition: 0.3s;
}
.action-button:hover {
  transform: translate(3px, 3px);
  box-shadow: 7px 7px 2px gray;
}
.action-button:hover.clicked {
  transform: translate(9px, 9px);
  box-shadow: 1px 1px 2px gray;
}
.action-button.active {
  background-color: rgb(0, 255, 200);
  transform: translate(9px, 9px);
  box-shadow: 1px 1px 2px gray;
}
.action-button.disactive {
  background-color: rgb(141, 0, 35);
  transform: translate(9px, 9px);
  box-shadow: 1px 1px 2px gray;
}

@media (min-width: 761px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1025px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1281px) {
  html {
    font-size: 25px;
  }
}

@media (min-width: 1921px) {
  html {
    font-size: 30px;
  }
}
