<div class="admin-container">
  <div class="admin-box" *ngFor="let item of this.users">
    <div class="admin-info">
      <div>First name: {{ item.name }}</div>
      <div>Surname: {{ item.surname }}</div>
      <div>E-mail: {{ item.mail }}</div>
      <div>Personal Code: {{ item.personalCode }}</div>
      <div>Phone number: {{ item.phoneNumber }}</div>
      <div>Role:{{ item.role }}</div>
    </div>
    <button *ngIf="item.role == 'USER'" class="money-button">
      Change to ADMIN
    </button>
    <button *ngIf="item.role != 'USER'" class="money-button">
      Change<br />to<br />USER
    </button>
  </div>
</div>
