<div class="account-circle">
  <div class="account-circle-flex">
    <div>MAIN</div>
    <div>number: {{ this.mainAccountNumber }}</div>
    <div>{{ this.mainValue }}{{ this.mainCurrency }}</div>
  </div>
</div>

<div class="account-circle">
  <div class="account-circle-flex">
    <div>INVESTMENT</div>
    <div>number: {{ this.investAccountNumber }}</div>
    <div>{{ this.investValue }}{{ this.investCurrency }}</div>
  </div>
</div>

<div class="account-circle">
  <div class="account-circle-flex">
    <div>SAVINGS</div>
    <div>number: {{ this.savingsAccountNumber }}</div>
    <div>{{ this.savingsValue }}{{ this.savingsCurrency }}</div>
  </div>
</div>